footer {
    padding: 0.5rem 0 0;
    opacity: 0.7;
}

.fnav ul {
    display: flex;
    justify-content: center;
}


.fnav li {
    padding: 0 0.25em;
    font-size: 1.75em;
}


.copyright {
    text-align: center;
    font-size: 0.75em;
    padding: 0 0.5rem 0.5rem;
}